<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438160748395-2k0qk893o0olb6gsapsqgn7e6iugb18d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438160748395-2k0qk893o0olb6gsapsqgn7e6iugb18d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>438160748395-43namt69s3t8gl4rm7iq030cf6ji8m77.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCnOvTlNd0b-7KG_QQ6qVShH_5DKAfmrxM</string>
	<key>GCM_SENDER_ID</key>
	<string>438160748395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swfact.hemRoutineApp</string>
	<key>PROJECT_ID</key>
	<string>hem-routine-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>hem-routine-app-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438160748395:ios:93b59c6a2f0ab143ffe62e</string>
</dict>
</plist>